<li class="nav-title">
  Tools of chef
</li>
<li class="nav-item">
  <li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#">
      <i class="fa fa-sitemap"></i> Data Sources</a>
    <ul class="nav-dropdown-items">
      <li class="nav-item">
        <a class="nav-link" href="base-breadcrumb.html">
          <i class="fa fa-microchip"></i> Device</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="base-cards.html">
          <i class="fa fa-database"></i> Data Template</a>
      </li>
    </ul>
  </li>
</li>
<li class="nav-item">
  <li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#">
      <i class="fa fa-desktop"></i> GUI</a>
    <ul class="nav-dropdown-items">
      <li class="nav-item">
        <a class="nav-link" href="base-breadcrumb.html">
          <i class="fa fa-navicon"></i> Navigation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="base-cards.html">
          <i class="fa fa-database"></i> View</a>
      </li>
    </ul>
  </li>
</li>
