<div class="card mb-0">
  <div class="card-header">

    <div class="btn-group float-left">
      <a class="btn btn-outline-secondary mt-0" data-toggle="tooltip" title data-original-title="Create new view" data-action="add_document">
        <i class="icon-doc "></i>
      </a>
      <a class="btn btn-outline-secondary mt-0" data-toggle="tooltip" title data-original-title="Delete selected view" data-action="delete_multiple">
        <i class="icon-trash"></i>
      </a>
    </div>
    <div class="float-left ml-2">

      <form action="" class="form-horizontal">
        <div class="form-group row mb-0">
          <div class="col-md-12">
            <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Search view">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card-body pb-1">
    <div id="view_list" class="row">
      <!-- <div class="col-12" ></div> -->
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">2
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', fn, false);

  function fn() {

    var uri_view_list = window.location.pathname + '/list';
    $.get(uri_view_list).done(function (data) {
      if (data.length < 1) {
        return $('#view_list').html(JST["assets/templates/info-not-available.html"]());
      }
      var content = '';
      data.forEach(view => {
        content = content + JST['assets/templates/icons/view.html']({
          view: view
        });
      });
      $('#view_list').html(content);
    }).fail(function (error) {

    });
  }

</script>
