<div class="btn-group" role="group" aria-label="Button group">
  <a class="btn" data-action="delete_multiple" href="javascript:void(0)">
    <i class="icon-close"></i> &nbsp;Cancel</a>
  <a class="btn" data-action="delete_multiple" href="javascript:void(0)">
    <i class="icon-close"></i> &nbsp;Reset</a>
  <a class="btn btn-outline-primary" data-action="add" href="javascript:void(0)">
    <i class="fa fa-save"></i> &nbsp;Save View</a>
</div>
