<div class="btn-group" role="group" aria-label="Button group">
    <a class="btn" data-action="add" href="javascript:void(0)">
        <i class="icon-doc"></i> &nbsp;Create New</a>
    <a class="btn" data-action="delete_multiple" href="javascript:void(0)">
        <i class="icon-trash"></i> &nbsp;Delete</a>
</div>
