<div class="row" id="realtime_view">

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 pt-3">{{tags.temperature}} <small>deg .C</small></div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Temperature</div>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">{{tags.pressure}} psi</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Pressure</div>
          </div>
        </div>
      </div>
      <!--/.col-->


    <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">{{tags.level}} %</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Tank Level</div>
          </div>
        </div>
      </div>
      <!--/.col-->

    <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-cogs bg-primary p-4 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">{{tags.flow}} m3/h</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Flowrate</div>
          </div>
        </div>
      </div>
      <!--/.col-->
  </div>

<div class="row">
  <div class="col-6">
      <a class="btn btn-success" href="/report">Generate Report</a>

  </div>
</div>